@import url('https://fonts.googleapis.com/css?family=Amatic+SC&subset=latin-ext');
@import url('reset.css');

html{
    background: url(img/bg-blur.jpg) top center;
    background-size: 100%;
    background-repeat: repeat-y;
    /* background-position: fixed; */
    width: 100%;
    min-height: 150vh;
    font-size: 10px;
    font-family: 'Amatic SC', cursive;
    margin: 0 auto;
    overflow-x: hidden;
    position: relative;
}

.basil, .rosemary, .orange, .tomato{
    display: none;
}

/* @media only screen and (min-width: 320px){ */
    header{
        text-align: center;
        position: relative;
        margin: 0 auto;
    }
    .welcome-section{
        color: #fff;
        text-align: center;
        width: 100%;
        margin: 0 auto;
    }
    
    .welcome-section h1{
        position: relative;
        top: 1rem;
        text-transform: uppercase;
        font-size: 5rem;
        /* font-weight: bold; */
    }

    .welcome-section ul{
        font-size: 2.5rem;
        position: relative;
        display: flex;
        justify-content: space-around;
        top: 3rem;
    }
    
    .welcome-section ul li a{
        color: #fff;
    }

    .zig{
        width: 95%;
        position: relative;
        top: -1rem;
    }

    .main-section{
        text-align: center;
    }

    .main-photo{
        position: relative;
        top: 5rem;
    }

    .main-photo img{
        width: 80%;
        border: 5px solid #fff;
        transform: rotate(-2deg);
        /* position: absolute; */
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        top: 20rem;
        -webkit-box-shadow: 0px 0px 133px 10px rgba(0,0,0,0.75);
           -moz-box-shadow: 0px 0px 133px 10px rgba(0,0,0,0.75);
                box-shadow: 0px 0px 133px 10px rgba(0,0,0,0.75);
        z-index: 99;
    }

    .main-photo h1{
        position: relative;
        top: -1rem;
        font-size: 3rem;
        color: #fff;
        transform: rotate(-2deg);
        z-index: 100;
    }
    
    .main-photo .zig2{
        border: none;
        box-shadow: none;
        position: relative;
        top: 5rem;
        width: 90%;
        /* padding-left: 2rem; */
        z-index: 100;
    }
    
    .title{
        color: #fff;
        font-size: 4rem;
        position: relative;
        transform: rotate(-2deg);
        z-index: 100;
    }
    
    .description{
        color: #fff;
        padding-top: 1.5rem;
        font-size: 2.5rem;
        transform: rotate(-2deg);
        width: 28rem;
        margin: 0 auto;
    }
    footer{
        width: 100%;
        color: #fff;
        font-size: 2.5rem;
        /* font-weight: bold; */
        letter-spacing: .1rem;
        position: absolute;
        bottom: 0;
        margin: 0 auto;
        text-align: center;
        padding-bottom: 2rem;
    }
    footer a{
        color: #ffffff;
    }
    footer a:hover{
        color: #87cefa;
        font-size: 2.6rem;
        transition: linear .3s;
    }
/* } */



@media only screen and (min-width: 900px){
    .bg-image{
        display: block;
        max-width: 100%;
        margin: 0 auto;
        text-align: center;
        position: relative;
    }

    .basil{
        display: block;
        position: absolute;
        width: 280px;
        left: -30rem;
        top: 8rem;
        z-index: -1;
    }
    
    .rosemary{
        display: block;
        position: absolute;
        width: 300px;
        right: 5%;
        top: 28rem;
        z-index: -1;
    }
    
    .orange{
        display: block;
        position: absolute;
        width: 280px;
        /* left: -75rem; */
        top: 85rem;
        z-index: -1;
    }
    
    .tomato{
        display: block;
        position: absolute;
        width: 280px;
        right: 5%;
        top: 100rem;
        z-index: -1;
    }

    .welcome-section{
        width: 50%;
        position: relative;
    }
    
    .welcome-section h1{
        top: 5rem;
        font-size: 100px;
    }

    .welcome-section ul{
        font-size: 4rem;
        top: 8rem;
    }
    
    /* .welcome-section ul li a{
        color: #fff;
    } */

    .zig{
        width: 45%;
        top: 2rem;
    }

    /* .main-section{
    } */

    .main-photo{
        top: 15rem;
    }

    .main-photo img{
        width: 30%;
        border: 15px solid #fff;
        margin: 0 auto;
        top: 20rem;
    }

    .main-photo h1{
        top: -1rem;
        font-size: 6rem;
    }
    
    .main-photo .zig2{
        top: 5rem;
        width: 30%;
        padding-left: 2rem;
    }
    
    .title{
        font-size: 4rem;
        padding-left: 1rem;
    }
    
    .description{
        padding-top: 1.5rem;
        padding-left: 2rem;
        font-size: 3.5rem;
        width: 60rem;
    }

    footer{
        font-size: 3rem;
    }

    footer a:hover{
        font-size: 3.2rem;
    }
}